<h1>Burgers!</h1>

<div class="burger-container">

     
<div class="burgers">
       
      <h3 class="burgers-title">Burgers</h3>  
        

            {{#each burgers}}
            {{#unless this.devoured}}
              <div class="burger-item">
<p id="burger-name">{{this.burger_name}}</p>
<button id="devourBtn" class="devourBtn btn-primary rounded"
                    data-id="{{this.id}}">Devour</button>
              </div>
         


            {{/unless}}
            {{/each}}
        
    </div>
    <div class="burgers">

        <h3 class="burgers-title">Devoured Burgers</h3>

      

            {{#each burgers}}
            {{#if this.devoured}}
<div class="burger-item">
  <p id="burger-name">{{this.burger_name}}</p>
<button id="deleteBtn" class="deleteBtn btn-primary rounded"
                    data-id="{{this.id}}">Devour</button>
</div>
            


            {{/if}}
            {{/each}}

        

    </div>

</div>
<div class ="add-burger" >

<form id="create-form">
<h2>Add a burger</h2>
  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="devoured">Devoured?</label><br>
    <input type="radio" name="devoured" value="1" id="devoured" checked> delicious!<br>
    <input type="radio" name="devoured" value="0" id="unedible"> unedible
  </div>

  <button id= "add-burger" type="submit">Add Burger</button>
</form>
</div>